navibar {
	vertical-align: middle;
	height: 45px;
	display: block;
	margin: 0;
	padding: 0;
}

navibar > navibar-title {
	vertical-align: middle!important;
	display: inline-block;
	padding: 10px;
	font-size: 25px;
}

navibar > navibar-right {
	padding: 4px;
	vertical-align: middle!important;
	display: inline-block;
	float: right;
}

/* Set Basic Color */
navibar {
	background-color: #80ccc8;
	color: #fff;
}