select {
	width: 100%;
	text-transform: none;
	background: #fff;
	background-image: none;
	height: 34px;
	padding: 6px 12px;
	border: 1px solid #ccc;
	
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
		border-radius:0px;
		
	-webkit-appearance:none;
	-moz-appearance:none;
		appearance:none;
	display: block;
	cursor:pointer;
}

select[disabled="true"]{
	background-color: #eeeeee;
	color: #333;
}