code {
	font-family: inherit;
	display: inline-block;
	word-break: break-all;
}

code[type="html"] c[type="tag"] {
	font-weight: bold;
	color: #2f6f9f;
}

code[type="html"] c[type="tagName"] {
	font-weight: bold;
	color: #2f6f9f;
}

code[type="html"] c[type="attrs"] {
	color: #4f9fcf;
}

code[type="html"] c[type="attr-value"] {
	color: #d44950;
}

code[type="html"] c[type="attr-equal"] {
	color: #2f6f9f;
}

code[type="html"] c[type="comment"] {
	color: #999;
}


code[type="javascript"] c[type="keyword"] {
	font-weight: bold;
	color: #2f6f9f;
}

code[type="javascript"] c[type="string"] {
	color: #d44950;
}