nav {
	vertical-align: middle;
	height: 45px;
	display: block;
	margin: 0;
	padding: 0;
	background-color: #80ccc8;
	color: #fff;
}

nav > nav-title {
	vertical-align: middle!important;
	display: inline-block;
	padding: 10px;
	font-size: 25px;
	cursor: pointer;
	float: left;
}

nav > nav-title:hover {
	color: #efefef;
}

nav > nav-right {
	padding: 4px;
	vertical-align: middle!important;
	display: inline-block;
	float: right;
}