/* Slide */
slide-container {
	width: 100%;
	height: 100%;
	position: fixed;
	vertical-align: middle;
	text-align: center;
	background-color: rgba(0,0,0,0.7);
	top: 0;
	left: 0;
	z-index: 1100;
	overflow-x: hidden;
	overflow-y: auto;
}

slide-dissmiss-panel {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1100;
}

slide {
	z-index: 1101;
	width: 30;
	min-height: 100%;
	float: left;
	background-color: rgb(231,245,248);
	position: relative;
	left: 0;
	top: 0;
	text-align: justify;
	box-shadow: 7px 7px 7px silver;
		-moz-box-shadow:7px 7px 7px silver;
		-webkit-box-shadow:7px 7px 7px silver;
		filter:progid:DXImageTransform.Microsoft.Shadow(color=silver,direction=135, strength=20);
}

@media (max-width: 768px) {
	slide {
		width: 70;
	}	
}

slide > header {
	display: block;
	font-size: 20px;
	padding: 8px;
	background-color: #80ccc8;
	color: #fff;
	vertical-align: middle;
}

slide > content {
	display: block;
	padding: 12px 12px 24px 12px;
}

slide tabcontent > menu[tab-status="active"] {
	width: 100%;
	padding: 0;
	margin: 0;
	position: relative;
	visibility: inherit;
}